<%= form_for [:admin, @user], url: admin_store_admins_path, html: {class: 'form-inline'} do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Add Admin", class: "btn btn-primary" %>
    </div>
  <% end %>
