<div id="list-group">
  <div class="well" id = "side-nav">
    <ul>
      <li><h5><%= link_to "All Photos", store_photos_path(@store.slug, filter: 0), class: "side-nav-element"%></h5></li>
      <%= render partial: "layouts/category", collection: @categories, locals: {path: :store_photos_path} %>
    </ul>
  </div>
  <%= render "layouts/new_shop" %>
</div>
