<div id="list-group">
  <div class="well">
    <ul>
      <li><%= link_to "All Photos", photos_path(filter: 0), class: "side-nav-element"%></li>
      <%= render partial: "layouts/category", collection: @categories, locals: {path: :photos_path} %>
    </ul>
  </div>
  <%= render "layouts/new_shop" %>
</div>
