
<table class="table table-striped table-hover">
  <caption>Current Administrators</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody id="active-photos">
  <% admins.each do |admin| %>
    <tr>
      <td><%= admin.name %></td>
      <td><%= admin.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
